@model TMS.ViewModels.EditProfileViewModel
@await Html.PartialAsync("Navbar")

<div class="flex h-full w-full flex-row">
    <!--The Side Container-->
    <div class="h-full w-3/12 p-8">
        @await Html.PartialAsync("Sidebar")
    </div>

    <!--The Main Container-->
    <div class="flex h-full w-9/12 flex-col gap-4 p-8">
        <div class="border-b-2 border-b-red-500 py-2">
            <label class="w-full text-xl font-semibold text-[#152852]">Edit Profile</label>
        </div>
        <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
            <div>
                <input asp-for="CurrentEmail" hidden/>
            </div>

            <div>
                <label for="CurrentPassword">Current Password</label>
                <input asp-for="CurrentPassword" type="password" />
            </div>

            <div>
                <label for="Email">New Email</label>
                <input asp-for="Email" />
            </div>

            <button type="submit">Update</button>
        </form>

    </div>
 </div>
