@model TMS.ViewModels.EditProfileViewModel

<div class="edit-profile-container">
    <h1>Edit Profile</h1>

    <form asp-action="EditProfile" method="post">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" required />

        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" value="@Model.LastName" required />

        <label for="UserImg">Profile Image URL:</label>
        <input type="text" id="UserImg" name="UserImg" value="@Model.UserImg" />

        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" value="@Model.Email" required />

        <label for="NewPassword">New Password:</label>
        <input type="password" id="NewPassword" name="NewPassword" />

        <button type="submit">Save Changes</button>
    </form>
</div>
