@model TMS.ViewModels.ForgotPasswordViewModel

<form asp-action="ForgotPassword" method="post">
    <div>
        <label asp-for="EmailAdd"></label>
        <input asp-for="EmailAdd" />
        <span asp-validation-for="EmailAdd"></span>
    </div>
    <button type="submit">Send</button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial" />}
