@model TMS.ViewModels.LoginViewModel

<form asp-action="Login" method="post">
    <div>
        <label asp-for="EmailAdd"></label>
        <input asp-for="EmailAdd" />
        <span asp-validation-for="EmailAdd"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/login.js"></script>
    <script>
        loginValidation('@TempData["SuccessMsg"]', '@TempData["ErrorMsg"]');
    </script>
}