@{
    ViewData["Title"] = ViewData["CourseName"];
}

@await Html.PartialAsync("Navbar")

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!--Sample Selected Course Layout-->

<div class="flex h-full w-full flex-col gap-5 overflow-y-auto px-24 py-16">
    <div class="shadow-xy relative flex h-56 w-full flex-col gap-3 rounded-xl bg-gradient-to-br from-blue-900 to-blue-500 px-8 py-4">
        <label class="max-w-[400px] text-xl text-white">Leading at the Speed of Trust 4.0</label>
        <label class="max-w-[800px] text-sm text-white">
            Involves essential strategies like setting a clear vision, encouraging open communication,
            fostering collaboration, and empowering team members to achieve goals
            effectively.
        </label>
        <label class="text-xs font-extralight text-gray-300">August 30 2024 - December 30 2024</label>
        <div class="mt-2 flex flex-row gap-4">
            <label class="z-0 rounded-xl bg-gray-900 px-6 py-1 text-center text-white">Leadership</label>
            <label class="z-0 rounded-xl bg-gray-900 px-6 py-1 text-center text-white">Trust</label>
        </div>
        <img class="-z-0 absolute bottom-4 right-4" src="~/res/People.png" />
    </div>

    <!--Sub Layouts Section-->
    <div class="flex h-full w-full flex-row gap-8">
        <!--Left Layout-->
        <div class="flex h-full w-3/12 flex-col gap-5">
            <div class="shadow-xy flex h-64 w-full flex-col rounded-xl py-6">
                <div class="px-8 font-semibold">
                    <label class="text-[#152852]">Quick Actions</label>
                </div>

                <!--Quick Actions Sidebar-->
                @await Html.PartialAsync("CourseSidebar")
            </div>

            <div class="shadow-xy flex h-72 w-full flex-col items-center justify-center gap-2 rounded-xl p-8">
                <label class="text-lg font-semibold text-[#152852]">Progress Status</label>
                <canvas class="h-full w-full" id="donutProgress" ></canvas>
            </div>
        </div>

        <!--Right Layout-->
        <div class="flex h-full w-9/12 flex-col gap-8">
            <div class="shadow-xy flex h-60 w-full flex-col gap-3 rounded-xl p-5">
                <label class="text-lg font-semibold text-[#152852]">Current Module</label>
                <label class="text-[#152852]">10.5 Leading Your Team: Critical Practices for Success</label>
                <label class="text-[#152852]">
                    This topic covers essential practices for effective team leadership, including setting a clear vision, 
                    fostering open communication, promoting teamwork, empowering individuals, and providing constructive 
                    feedback. Mastering these practices enables leaders to build a positive work environment, boost team morale, 
                    and drive high performance.
                </label>
                <div class="flex h-1/6 w-full items-center justify-end">
                    <div class="flex flex-row items-center justify-center">
                        <button class="px-6 text-center text-lg font-semibold text-[#152852]">Continue</button>
                        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8.825L3.825 5L0 1.175L1.18333 0L6.18333 5L1.18333 10L0 8.825Z" fill="#152852" />
                        </svg>
                    </div>
                </div>
            </div>   

            <!--Lower Section-->
            <div class="flex h-full w-full flex-row gap-5">
                <div class="flex h-full w-2/4 flex-col p-5">
                    <div class="flex w-full flex-row items-center justify-between">
                        <label class="text-xl font-semibold text-[#152852]">Result Summary</label>
                        <label class="text-4xl font-semibold text-green-400">A+</label>
                    </div>
                    <div class="h-full w-full">
                        <div class="flex justify-center">
                            <canvas id="resultBar" class="h-full w-full"></canvas>
                        </div>
                    </div>
                </div>
                <div class="flex h-full w-2/4 flex-col gap-5 p-5">
                    <label class="text-xl font-semibold text-[#152852]">Recent Tasks</label>
                    <div class="flex flex-row items-center justify-center gap-5">
                        <img src="~/res/confetti.png" class="h-16 w-16" />
                        <label class="max-w-[200px] text-center text-lg text-[#152852]">
                            You Have
                            No Tasks Currently!
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const donut = document.getElementById('donutProgress').getContext('2d');
    const myDonutChart = new Chart(donut, {
        type: 'doughnut',
        data: {
            labels: ["Finished", "Not Finished"],
            datasets: [{
                label: 'Progress Status',
                data: [70, 30],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(125, 240, 215, 0.6)',
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(125, 240, 215, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    enabled: true
                }
            }
        }
    });
</script>

<script>
    const result = document.getElementById('resultBar').getContext('2d');
    const horizontalBarChart = new Chart(result, {
        type: 'bar', // 'bar' type for bar charts
        data: {
            labels: ['Confidence', 'Leadership', 'Communication'],
            datasets: [{
                label: 'Employee Statistics',
                data: [65, 59, 80, 81, 56, 55],
                backgroundColor: [
                    'rgba(125, 240, 215, 0.6)',
                    'rgba(125, 240, 215, 0.6)',
                    'rgba(125, 240, 215, 0.6)',
                ],
                borderColor: [
                    'rgba(125, 240, 215, 1)',
                    'rgba(125, 240, 215, 1)',
                    'rgba(125, 240, 215, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                }
            },
            scales: {
                x: {
                    beginAtZero: true
                }
            }
        }
    });
</script>